﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <a href="https://bitbucket.org/kevain/expensetracker-backend/src/master/">Source code & other info in git</a>
    <br/>
    <a href="/swagger/index.html">API documentation with Swagger</a>
</div>